.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width: 900px) {
    .countries{
        grid-template-columns: repeat(2, 1fr);
    }
  }
@media screen and (max-width: 670px) {
    .countries{
        grid-template-columns: repeat(1, 1fr);
    }
  }
.CountresLength{
    text-align: center;
    font-weight: bold;
}